html {
    overflow: scroll;
    overflow-x: hidden;
	background-color: black;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

* {
	font-family: 'Poppins', sans-serif;
}

/*https://stackoverflow.com/questions/24268861/problems-with-bootstrap-container-on-mobile-devices*/
@media (max-width: 768px) {
html, body {
	width: auto !important;
	overflow-x: hidden !important;
	}
}

a {
	text-decoration: none !important;
	color: white !important; 
}