.wrapper {
	display: block;
	min-height: 350px;
	object-fit: cover;
   	overflow: hidden;
}

.projects {
	padding: 0px 0px !important;
	margin: 0px 0px !important;
}

.position-relative {
	position: relative;
}

.containerImage {
	position: relative; 					/* [1.1] Set as relative so our description will be positioned inside, inside of the HTML based on the documentation flow */
	height: 100%;							/* [1.2] Set it as per your need */
	width: 100%;							/* Adjust if you want to expand or as is */
	overflow: hidden;						/* [1.3] Hide the overflowing of child elements */
}

.wrapper .image {
	text-align: center;
	transition: transform 1s ease;  		/* [2.1]set transition on the element; not upon hover */
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
	border: 1px solid black;
}

.description {
	position: absolute;						/* Psitioned relative to its parent, wrapper*/
	top: 0; 								/* These lines position the color to cover whole wrapper */
	bottom: 0; 
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, .5); 			/* a = opacity */
	color: white;
	visibility: hidden; 					/* hides text */
	text-align: center;
}

.containerImage:hover .description {
	visibility: visible;					
}

.description-positioning {
	position: relative;						/* Positions relative to its parent which is description; http://jsfiddle.net/a12sndmL/11/*/
  	top: 50%;
  	transform: translateY(-50%);
}
