x
@media (max-width: 768px) {
.height {
	height: 6vh;
	}
}

.brandImage {
	height: 7vh;
}

.black-text {
	color: black !important;
}

.whiteImage {
	background-image: url("./assets/images/whiteImage.jpg") !important;
}